.MembershipCard {
  width: auto;
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 10px;
  color: #6D6D6D;
  cursor: pointer;
  box-sizing: border-box;
}

.CardTitle {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: #FAFAFA;
  color: #85868C;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}

.CardBody {
  border: 1px solid grey;
  font-size: 14px;
  padding: 24px;
  box-sizing: border-box;
}

.CardDescription {
  text-align: left;
  margin: 0px 0px 16px;
}

.CardApplicationFee {
  text-align: left;
  margin: 0px 0px 16px;
  box-sizing: border-box;
}

.CardApplicationFeeTitle {
  font-weight: 700;
}

.CardApplicationFeeRefund {
  font-size: 14px;
  color: #6D6D6D;
}

.CardItemsTitle {
  text-align: left;
  font-weight: 700;
  margin: 0px 0px 16px;
}

.List {
  text-align: left;
  padding-left: 0px; 
}

@media (min-width: 575px) {
.MembershipCard {
    width: 480px;
  }

  .CardTitle {
    font-size: 20px;
  }
  
  .CardBody {
    font-size: 16px;
  }
}

@media (min-width: 770px) {
  .MembershipCard {
    width: 660px;
  }
}

@media (min-width: 992px) {
  .MembershipCard {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .MembershipCard {
    width: 360px;
  }
}