.MainContainer {
  padding-top: 20px;
  /*padding-left: calc((100vw - 480px)/2);*/
}

.SectionTitle {
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
  margin-bottom: 8px;
}

.SectionDescription {
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.SubscriptionContainer {
  text-align: center;
}

.MembershipCard {
  width: auto;
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 10px;
  color: #6D6D6D;
  cursor: pointer;
  box-sizing: border-box;
}

.CardTitle {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: #FAFAFA;
  color: #85868C;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}

.CardBody {
  border: 1px solid grey;
  font-size: 14px;
  padding: 24px;
  box-sizing: border-box;
}

.CardDescription {
  text-align: left;
  margin: 0px 0px 16px;
}

.CardApplicationFee {
  text-align: left;
  margin: 0px 0px 16px;
  box-sizing: border-box;
}

.CardApplicationFeeTitle {
  font-weight: 700;
}

.CardApplicationFeeRefund {
  font-size: 14px;
  color: #6D6D6D;
}

.CardItemsTitle {
  text-align: left;
  font-weight: 700;
  margin: 0px 0px 16px;
}

.List {
  text-align: left;
  padding-left: 0px; 
}

.Button {
  font-size: 10px;
  font-weight: 600;
  color: #2f5596;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0px 3px 0px 3px;
  box-sizing: border-box;
}

.Header {
  display: grid;
  grid-template-columns: 90px auto 90px;
  background-color: #1178CE;
  height: 70px;
  box-sizing: border-box;
}

.HeaderLeft {
  margin: 10px 30px;
  box-sizing: border-box;
}

.HeaderMiddle {
  height: 50px;
  margin: 8px 0px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

.HeaderRight {
  text-align: center;
  margin: 15px 0px 10px;
  box-sizing: border-box;
}

.HeaderButton {
  border: 2px solid #fff;
  width: 210px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  background-color: #1178CE;
  color: #fff;
}

.HeaderButton:hover {
  background-color: #fff;
  color: #1178CE;
}

.HeaderQuestion {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #1178CE;
  color: #fff;
}

.HeaderQuestion:hover {
  border: 2px solid #1178CE;
  background-color: #fff;
  color: #1178CE;
}

.ErrorText {
  color: red;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media (min-width: 435px) {
  .HeaderMiddle {
    margin: 20px 0px;
  }

  .SectionTitle {
    font-size: 24px;
  }

  .SectionDescription {
    font-size: 16px;
  }}

@media (min-width: 575px) {
  .HeaderMiddle {
    margin-top: 15px;
    font-size: 28px;
  }

  .MainContainer {
    padding-left: calc((100vw - 480px)/2);
    padding-right: calc((100vw - 480px)/2);
  }
  
  .MembershipCard {
    width: 480px;
  }

  .CardTitle {
    font-size: 20px;
  }
  
  .CardBody {
    font-size: 16px;
  }

  .ErrorText {
    font-size: 16px
  }
}

@media (min-width: 770px) {
  .MainContainer {
    padding-left: calc((100vw - 660px)/2);
    padding-right: calc((100vw - 660px)/2);
  }
  
  .MembershipCard {
    width: 660px;
  }
}

@media (min-width: 870px) {
  .Header {
    display: grid;
    grid-template-columns: 240px auto 280px;
    height: 140px;
  }

  .HeaderLeft {
    margin: 35px;
  }

  .HeaderMiddle {
    margin-top: 50px;
  }

  .HeaderRight {
    margin: 50px 0px;
  }

  .QuestionIcon {
    width: 40px;
    font-size: 40px;
    color: lightblue;
    padding-top: 5px;
  }
}

@media (min-width: 992px) {
  

  .MainContainer {
    padding-left: calc((100vw - 900px)/2);
    padding-right: calc((100vw - 900px)/2);
  }
  
  .SubscriptionContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    text-align: center;
  }
  
  .MembershipCard {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .MainContainer {
    padding-left: calc((100vw - 1080px)/2);
    padding-right: calc((100vw - 1080px)/2);
  }

  .SubscriptionContainer {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    text-align: center;
  }

  .MembershipCard {
    width: 360px;
  }
}