.MainContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.SectionTitle {
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
  margin-bottom: 8px;
}

.SectionDescription {
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.SubscriptionContainer {
  text-align: center;
}

.JoinASCAP {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.SelectionBox {
  font-size: 18px;
  width: calc(100vw - 60px);
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}

.ButtonBlue {
  background-color: #0C5997;
  color: #fff;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}

.ButtonBlue:hover {
  background-color: #1285E2;
}
.ButtonBlue:active {
  background-color: #1285E2;
  border: 2px solid black;
}

.ButtonGrey {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
.ButtonGrey:hover {
  background-color: #ececec;
}
.ButtonGrey:active {
  background-color: #cccccc;
  border: 2px solid black;
}

.HyperLinkText {
  text-decoration: none;
  color: #0066CC;
  font-size: 16px;
  text-align: left;
  margin: 0px 0px 16px;
}

.HyperLinkText:hover {
  text-decoration: underline;
}

.HyperLinkText:active {
  color: #0C5997;
}

.ErrorText {
  color: red;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.BlueText {
  color: #0066CC;
  border: none;
  outline: none;
  text-align: left;
  font-size: 14px;
  padding-left: 0px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}

.BlueText:hover {
  color: #0066CC;
  border: none;
  outline: none;
  text-decoration: underline;
  box-sizing: border-box;
}

.BlueText:active {
  color: #0C5997;
}

@media (min-width: 435px) {
  .SectionTitle {
    font-size: 24px;
  }

  .SectionDescription {
    font-size: 16px;
  }}

@media (min-width: 575px) {
  .MainContainer {
    padding-left: calc((100vw - 480px)/2);
    padding-right: calc((100vw - 480px)/2);
  }

  .SelectionBox {
    font-size: 20px;
    width: 440px;
  }

  .ErrorText {
    font-size: 16px;
  }
  
  .ButtonRow {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 30px;
    padding-top: 20px;
    padding-left: 45px;
    box-sizing: border-box;
  }
}

@media (min-width: 770px) {
  .MainContainer {
    padding-left: calc((100vw - 660px)/2);
    padding-right: calc((100vw - 660px)/2);
  }

  .ButtonRow {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 30px;
    padding-top: 20px;
    padding-left: 115px;
    box-sizing: border-box;
  }
  
  .SelectionBox {
    width: 620px;
  }
}

@media (min-width: 992px) {
  .MainContainer {
    padding-left: calc((100vw - 900px)/2);
    padding-right: calc((100vw - 900px)/2);
  }
  
  .SubscriptionContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    text-align: center;
  }

  .ButtonRow {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 30px;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .SelectionBox {
    width: 560px;
  }
}

@media (min-width: 1200px) {
  .MainContainer {
    padding-left: calc((100vw - 1080px)/2);
    padding-right: calc((100vw - 1080px)/2);
  }

  .SubscriptionContainer {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    text-align: center;
  }

  .SelectionBox {
    width: 680px;
  }
}